@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Colors */
  --primary-color: #2F80ED;
  --dark-color: #333333;
  --black: #0000;
  --gray-color: #BDBDBD;
  --delete-color: #EB5757;
  --white: #ffff;
  --footer: #A9A9A9;

  /* Fonts */
  --raleway: 'Raleway', sans-serif;
  --montserrat : 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

input[type= "checkbox"]{
  width: 20px;
  height: 20px;
}

